.navigation-top {
    background: $background-color;
    width: 100%;
    margin: 0;
}

.navigation-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    width: 80%;
}

.hamburger {
    display: none;
}

.navigation-top_logo {
    height: 70px;
    width: 70px;
    border: 1px solid $white;
    padding: 20px;
    margin-top: 20px;
}

.navigation-container_user {
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    margin-bottom: 20px;
    .fa-user {
        height: 70px;
        padding: 20px;
        margin-left: 20px;
        font-size: 70px;
        color: #4f8c9e;
        border: 1px solid $white;
    }
    p {
        color: $white;
        font-size: 24px;
        margin-bottom: 0px;
        padding-left: 20px;
        font-weight: 500;
    }
    .fa-envelope,
    .fa-cog {
        color: $white;
        padding-right: 10px;
        font-size: 30px;
        cursor: pointer;
    }
    .user-container_icon {
        padding-top: 10px;
        padding-left: 20px;
    }
}

.navigation-top_menu {
    padding-left: 40px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    a {
        text-decoration: none;
        color: $white;
        text-align: center;
        margin: 0;
        padding: 30px 20px 20px 20px;
        &:hover {
            background-color: #111111;
        }
        i {
            font-size: 40px;
        }
        p {
            margin: 0;
            padding-bottom: 10px;
            text-transform: uppercase;
            font-weight: 500;
            font-size: 20px;
        }
    }
}

.nav-right-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 50px;
    padding-left: 20px;
    button {
        background-color: inherit;
        border: 0;
        padding-right: 10px;
        border-right: 3px solid $white;
        height: 100px;
        &:focus {
            outline: none;
        }
    }
    .fa-search {
        color: $white;
        cursor: pointer;
        padding-left: 20px;
    }
    .fa-sign-out-alt {
        color: #861c1c;
        padding-left: 30px;
        &:hover {
            color: #b10101;
            cursor: pointer;
        }
    }
}

.search-conatiner {
    width: 100%;
    position: relative;
}

.search-input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-size: 20px;
    padding: 20px;
    height: 50px;
    width: 300px;
    position: absolute;
    top: -30px;
    right: -20px;
}

.test {
    display: none;
}

@media only screen and (max-width:1200px) {
    .navigation-container {
        width: 100%;
    }
}

@media only screen and (max-width: 1050px) {
    .hamburger {
        z-index: 10;
        display: block;
        font-size: 70px;
        color: $white;
        cursor: pointer;
        padding: 10px 20px 0px 20px;
    }
    .navigation-top_logo {
        height: 50px;
        width: 50px;
        margin-bottom: 20px;
    }
    .navigation-container {
        width: 100%;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    }
    .navigation-container_user,
    .navigation-top_menu {
        display: none;
    }
}

@media only screen and (max-width: 500px) {
    .navigation-top_logo {
        height: 30px;
        width: 30px;
    }
    .search-input {
        width: 200px;
    }
}